.card {
   height: 50px;
   width: 35px;
   padding: 10px;
   display: block;
   border: 1px solid rgba(102, 99, 99, 0.521);
   margin: 5px;
}

.face_down {
   background-image: url('cardFaceDown.jpg');
   background-size: contain;
}

.face_up {
   pointer-events: none;
}

.guessed {
   background-color: lighten($color: #14acc0, $amount: 50);
   pointer-events: none;
}