.flexbox {
   margin: auto;
   line-height: normal;
   border: 3px solid green;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   width: 60%;
}

.card {
   height: 80px;
   width: 60px;
   padding: 5px;
   border: 1px solid rgba(102, 99, 99, 0.521);
   margin: 5px;
}

.face_down {
   background-image: url('cardFaceDown.jpg');
   background-size: contain;
}

.face_up {
   pointer-events: none;
}

.guessed {
   background-color: lighten($color: #14acc0, $amount: 50);
   pointer-events: none;
}

.no_pointer_events {
   pointer-events: none;
}